body {
    font-family: cursive;
    font-size: 14pt;
    text-align: center;
    margin: auto;
    position: relative;
}

#puzzlearea {
    margin: auto;
    width: 400px;
    height: 400px;
    position: relative;
}

#puzzlearea > div {
    width: 90px;
    height: 90px;
    border: 5px black solid;
    position: absolute;
    display: block;
    background-image: url("background.jpg");
    background-size: 440%;
    font-size: 40pt;
    text-align: center;
}

.hoverable {
    border-color: black;
    color: black;
}
.hoverable:hover {
    border-color: red !important;
    color: red;
}

.row0 {
    top: 0px;
} .row1 {
    top: 100px;
} .row2 {
    top: 200px;
} .row3 {
    top: 300px;
}

.col0 {
    left: 0px;
} .col1 {
    left: 100px;
} .col2 {
    left: 200px;
} .col3 {
    left: 300px;
}